  <html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <audio autoplay="true" src="https://j.top4top.io/m_2049ckfp70.mp3">
 </audio>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<base href="https://mhankbarbar.herokuapp.com">-->
  <link rel="shortcut icon" href="https://i.ibb.co/Lh8j0kx/43222474054b4c7ca9122e16f3dcbb6c.jpg" type="image/x-icon" />
  <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel-2/owl.carousel.min.css">
  <link href="https://i.ibb.co/NpVcyR5/e1d691301d73.jpg" rel="shortcut icon" type="image/png">
  <title>𝙰𝚋𝚍𝚒𝚕𝚕𝚊𝚑-𝙰𝙿𝙸</title>
  <link href="https://indrijunanda.github.io/RuangAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://indrijunanda.github.io/RuangAdmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://indrijunanda.github.io/RuangAdmin/css/ruang-admin.min.css" rel="stylesheet">
  <meta property="og:title" content="REST API TOOLS & DOWNLOADER ONLINE ">
  <meta property="og:description" content="Yahoo Minna">
  <meta property="og:image" content="https://i.ibb.co/NpVcyR5/e1d691301d73.jpg">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/androidstudio.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  
</head>

<body id="page-top">
  <div id="wrapper" >
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion bg-gradient-danger" id="accordionSidebar" style="color:black;">
      <a class="sidebar-brand d-flex align-items-center justify-content-center bg-gradient-danger" style="color:white;">
        <div class="sidebar-brand-icon">
          <img src="https://i.ibb.co/VxyR0TL/0646f374dfba6e4707029289772e6697.jpg">
        </div>
        <div class="sidebar-brand-text mx-3">Abdillah-Api's</div>  
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="/api">
          <i class="fas fa-fw fa-code" style="color:#7CFC00;"></i>
          <span style="color:#FFFFFF;">Documentation</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="fas fa-fw fa-arrow-down" style="color:#7CFC00;"></i>
          <span style="color:#FFFFFF;">Sosmed API</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Downloader FEATURES</h6>
            <a class="collapse-item" href="/api/downloader/ytmp4?apikey=YOUR_APIKEY&url=MasukanUrl">Youtube Mp4</a>
            <a class="collapse-item" href="/api/downloader/ytmp3?apikey=YOUR_APIKEY&url=MasukanUrl">Youtube Mp3</a>
            <a class="collapse-item" href="/api/downloader/mediafire?apikey=YOUR_APIKEY&url=MASUKANURL">Mediafire Downloader</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnime" aria-expanded="true"
          aria-controls="collapseAnime">
          <i class="fas fa-paw" style="color:#7CFC00;"></i>
          <span style="color:#FFFFFF;">Anime API</>
        </a>
        <div id="collapseAnime" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Anime/Nsfw FEATURES</h6>
            <a class="collapse-item" href="/api/anime/loli?apikey=YOUR_APIKEY">Anime Loli</a>
             <a class="collapse-item" href="/api/anime/neko?apikey=YOUR_APIKEY">Anime Neko</a>
             <a class="collapse-item" href="/api/anime/waifu?lapikey=YOUR_APIKEY">Anime Waifu</a>
             <a class="collapse-item" href="/api/anime/megumin?apikey=YOUR_APIKEY">Anime Megumin</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStalking" aria-expanded="true"
          aria-controls="collapseStalking">
          <i class="fas fa-stack-overflow" style="color:#7CFC00;"></i>
          <span style="color:#FFFFFF;">Stalking API</>
        </a>
        <div id="collapseAnime" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Stalking Sosmed FEATURES</h6>
            <a class="collapse-item" href="/api/stalking/ig?apikey=YOUR_APIKEY&username=hafidzabdillh_">Instagram Stalk</a>
            <a class="collapse-item" href="/api/stalking/github?apikey=YOUR_APIKEY&username=hafidzabdillh_">Github Stalk</a>
          </div>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFun" aria-expanded="true"

          aria-controls="collapseFun">
          <i class="fas fa-smile" style="color:#7CFC00;"></i>
          <span style="color:#FFFFFF;">Fun API</span>
        </a>
        <div id="collapseFun" class="collapse" aria-labelledby="headingRandom" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Fun FEATURES</h6>
            <a class="collapse-item" href="/api/fun/tebakgambar?apikey=YOUR_APIKEY">Tebak Gambar</a>
            <a class="collapse-item" href="/api/fun/family100?apikey=YOUR_APIKEY">Family100</a>
            <a class="collapse-item" href="/api/fun/caklontong?apikey=YOUR_APIKEY">Cak Lontong</a>
            <a class="collapse-item" href="/api/fun/asahotak?apikey=YOUR_APIKEY">Asah Otak</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandom" aria-expanded="true"
          aria-controls="collapseRandom">
          <i class="fas fa-fw fa-bullseye" style="color:#7CFC00;"></i>
          <span style="color:#FFFFFF;">Random API</span>
        </a>
        <div id="collapseRandom" class="collapse" aria-labelledby="headingRandom" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Random FEATURES</h6>
            <a class="collapse-item" href="/api/random/asupan?apikey=YOUR_APIKEY">Random Asupan</a>
            <a class="collapse-item" href="/api/random/quotes?apikey=YOUR_APIKEY">Random Quotes</a>
            <a class="collapse-item" href="/api/random/quotesislami?apikey=YOUR_APIKEY">Random Quotes Islami</a>
            <a class="collapse-item" href="/api/random/quotesanime?apikey=YOUR_APIKEY">Random Quotes Anime</a>
            <a class="collapse-item" href="/api/random/quotesmaker?apikey=YOUR_APIKEY">Random Quotes Maker</a>
            <a class="collapse-item" href="/api/random/katabucin?apikey=YOUR_APIKEY">Random Kata Bucin</a>
            <a class="collapse-item" href="/api/random/katailham?apikey=YOUR_APIKEY">Random Kata Ilham</a>
            <a class="collapse-item" href="/api/random/pantunpakboy?apikey=YOUR_APIKEY">Random Pantun Pakboy</a>
            <a class="collapse-item" href="/api/random/cersex?apikey=YOUR_APIKEY">Random Cersex</a>
            <a class="collapse-item" href="/api/random/cerpen?apikey=YOUR_APIKEY">Random Cerpen</a>
            <a class="collapse-item" href="/api/random/ceritahoror?apikey=YOUR_APIKEY">Random Cerhor</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
      	<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOthers" aria-expanded="true"
      	  aria-controls="collapseOthers">
      	  <i class="fas fa-fw fa-leaf" style="color:#7CFC00;"></i>
      	  <span style="color:#FFFFFF;">Others API</span>
      	</a>
      	<div id="collapseOthers" class="collapse" aria-labelledby="headingOthers" data-parent="#accordionSidebar">
      	  <div class="bg-white py-2 collapse-inner rounded">
      	    <h6 class="collapse-header">Others Features</h6>
      	    <a class="collapse-item" href="/api/others/gachacewek?apikey=YOUR_APIKEY">Gacha Cewek</a>
      	  <a class="collapse-item" href="/api/others/gachacowok?apikey=YOUR_APIKEY">Gacha Cowok</a>
           <a class="collapse-item" href="/api/others/estetik?apikey=YOUR_APIKEY">Estetik Image</a>
           <a class="collapse-item" href="/api/others/meme?apikey=YOUR_APIKEY">Meme</a>
           <a class="collapse-item" href="/api/others/darkjokes?apikey=YOUR_APIKEY">Darkjokes</a>
           <a class="collapse-item" href="/api/others/qrcode?apikey=YOUR_APIKEY&text=Hafidz">Qr Creator</a>
           <a class="collapse-item" href="/api/others/hartacustom?apikey=YOUR_APIKEY&text=Hafidz">Harta Tahta [ BY MFARELS ]</a>
           <a class="collapse-item" href="/api/others/ttp?apikey=YOUR_APIKEY&text=Hafidz">Text To Png</a>
      	  </div>
        </div>
      </li>
      
            </li>

      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        Coffe
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCoffe" aria-expanded="true"
          aria-controls="collapseCoffe">
          <i class="fas fa-coffee" style="color:#7CFC00;"></i>
          <span style="color:#FFFFFF;">Coffe</span>
        </a>
        <div id="collapseCoffe" class="collapse" aria-labelledby="headingCoffe" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Donasinya ngab:></h6>
            <a class="collapse-item" href="https://saweria.co/Cidro404">Saweria</a>
          </div>
        </div>
      </li>
      
                  </li>



      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        About
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContac" aria-expanded="true"
          aria-controls="collapseContac">
          <i class="fas fa-address-card" style="color:#7CFC00;"></i>
          <span style="color:#FFFFFF;">About Me</span>
        </a>
        <div id="collapseContac" class="collapse" aria-labelledby="headingContac" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Haii !!</h6>
            <a class="collapse-item" href="https://wa.me/628895656884?text=Assalamu'alaikum+Bang">Whatsapp</a>
            <a class="collapse-item" href="https://instagram.com/hafidzabdillh_">Instagram</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
      <div class="version" id="version-ruangadmin"></div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top bg-gradient-danger">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <!--<li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" id="ApiKeyDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-check fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="ApiKeyDropdown">
                <form action="/checklimit">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="Your Apikey"
                      aria-label="ApiKey" aria-describedby="basic-addon2" style="border-color: #3f51b5;" name="apiKey" required>
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">Check
                        <i class="fas fa-check fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>-->
            <div class="topbar-divider d-none d-sm-block"></div>
<li class="nav-item dropdown no-arrow mx-1">
<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="alertsDropdown" role="button">
<i class="fas fa-bell fa-fw"></i>
<span class="badge badge-danger badge-counter">4</span>
</a>
<div aria-labelledby="alertsDropdown" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
<h6 class="dropdown-header">
                  Penting !!
                </h6>
<a class="dropdown-item d-flex align-items-center">
<div class="mr-3">
<div class="icon-circle bg-primary">
<i class="fas fa-file-alt text-white"></i>
</div>
</div>
<div>
<div class="small text-gray-500">Juni 02, 2021</div>
Lahirnya Website Ini~
</div>
</a>
<a class="dropdown-item d-flex align-items-center">
<div class="mr-3">
<div class="icon-circle bg-warning">
<i class="fas fa-exclamation-triangle text-white"></i>
</div>
</div>
<div>
<div class="small text-gray-500">5 Tahun Lalu.</div>
Ada Fitur Bug/Typo/Eror Segera Lapor Saya!
</div>
</a>
<a class="dropdown-item d-flex align-items-center">
<div class="mr-3">
<div class="icon-circle bg-warning">
<i class="fas fa-podcast text-white"></i>
</div>
</div>
<div>
<div class="small text-gray-500">7 Tahun Lalu</div>
Limit Apikey : 1000/Day
</div>
</a>
<a class="dropdown-item d-flex align-items-center" href="/covid">
<div class="mr-3">
<div class="icon-circle bg-warning">
<i class="fas fa-podcast text-white"></i>
</div>
</div>
<div>
<div class="small text-gray-500">10 Tahun Lalu</div>
Creator and Developer Hafidz Abdillah
</div>
</a>
<!-- <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a> -->
</div>
</li>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://i.ibb.co/NpVcyR5/e1d691301d73.jpg" style="max-width: 100px">
                <span class="ml-2 d-none d-lg-inline text-white small">.....</span>
              </a>
              <!--<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
              </div>-->
            </li>
          </ul>
        </nav>
        	        <!-- Topbar -->
		
        <!-- Container Fluid-->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <!-- Attention -->
          <div id="demo" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span id="demo" aria-hidden="true"></span>
            </button>
        <script>
arrBulan = ["Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"];
var txt = "";
txt += "<p><b>Browser CodeName</b>: " + navigator.appCodeName + "</p>";
txt += "<p><b>Browser Name</b>: " + navigator.appName + "</p>";
txt += "<p><b>Cookies Enabled</b>: " + navigator.cookieEnabled + "</p>";
txt += "<p><b>Browser Online</b>: " + navigator.onLine + "</p>";
txt += "<p><b>Platform</b>: " + navigator.platform + "</p>";
txt += "<p><b>User-Agent</b>: " + navigator.userAgent + "</p>";
var d = new Date();
const jam = d.getHours();
const menit = d.getMinutes();
const detik = d.getSeconds();
const tgl = d.getDate();
const bln = d.getMonth();
const thn = d.getFullYear();
const bulan = arrBulan[bln]
/* if (jam > 1 && jam < 11) {
*	view.innerHTML = 'Selamat pagi :)';
* } else if (jam > 11 && < 15) {
*	view.innerHTML = 'Selamat siang :)';
* } else if (jam > 15 && < 18) {
*	view.innerHTML = 'Selamat sore :)';
* } else if (jam > 18 && < 24) {
*	view.innerHTML = 'Selamat malam'
* } else {
*	view.innerHTML = 'Selamat datang:)'
* }
*/
document.write(txt)
document.write("Date : "+ jam +":"+ menit +":"+ detik +"~"+ tgl +"-"+ bulan +"-"+ thn +"<br>Welcome")</script>
</div>
<style>
.animated {
	background: #fff;
	color: #F00;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 25px;
	font-family: Arial Black, Gadget, sans-serif;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #FF0000;
	-webkit-animation: animatedBackground_c 2s infinite alternate;
}

@keyframes animatedBackground_c {
	0% {-webkit-text-stroke-color: #ff8b00}
	10% {-webkit-text-stroke-color: #e8ff00}
	20% {-webkit-text-stroke-color: #5dff00}
	30% {-webkit-text-stroke-color: #00ff2e}
	40% {-webkit-text-stroke-color: #00ffb9}
	50% {-webkit-text-stroke-color: #00b9ff}
	60% {-webkit-text-stroke-color: #002eff}
	70% {-webkit-text-stroke-color: #5d00ff}
	80% {-webkit-text-stroke-color: #e800ff}
	90% {-webkit-text-stroke-color: #ff008b}
	100% {-webkit-text-stroke-color: #ff0000}
}
</style>
<style>
.mengetik
{
	font-size: 15px;
	width: 250px;
	white-space:nowrap;
	overflow:hidden;
	-webkit-animation: ketik 5s steps(50, end);
	animation: ketik 10s steps(50, end);
}

@keyframes ketik{
		from { width: 0; }
}

@-webkit-keyframes ketik{
		from { width: 0; }
}
</style>
   </form>
          <!-- Attention -->
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h1 class="animated">Thanks To</h1>
                </div>
                <div class="card-body">
                  <li class="mengetik"> Hafidz Abdillah</li>
                  <li class="mengetik"> RAMLAN ID</li>
                  <li class="mengetik"> Aqulzz</li>
                  <li class="mengetik"> M.Fajar Alfarizi</li>
                  <li class="mengetik"> Vean </li>
                  <li class="mengetik"> Hafizz</li>
                  <li class="mengetik"> DappaUhuy </li>
                  <li class="mengetik"> Lolhuman </li>
                  <li class="mengetik"> Dan Pengguna Api Ini🤍 </li>
                </div>
              </div>
            </div>
          </div>
          <!--Row-->

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-gradient-danger">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span style="color:#FFFFFF;">copyright &copy; <script> 

document.write(new Date().getFullYear()); 
</script> -
              <b><a href="https://wa.me/6283169814913" target="_blank" style="color:#FFFFFF;">Hafidz Abdillah</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

<script>

 alert("Hii User👋, Welcome To FaxxDil Rest~Api's");
 
</script>

<script>

 alert("Apikey: freeapi");
 
</script>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="https://indrijunanda.github.io/RuangAdmin/vendor/jquery/jquery.min.js"></script>
  <script src="https://indrijunanda.github.io/RuangAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://indrijunanda.github.io/RuangAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://indrijunanda.github.io/RuangAdmin/js/ruang-admin.min.js"></script>
<script> 
	
</body>

</html>